[2014-10-06 17:10] necolas opened #4 "Check for loaderContext in 'getRemainingRequest' and 'getCurrentRequest'"
I have a loader that contains the call `.getRemainingRequest(this)`. In my tests, I have `loader.call({}, 'some string')` which throws the following error due to the lack of `loaderContext`:

[code]

Like `parseQuery`, perhaps these methods should not assume a context will always be provided?

[2014-12-11 22:16] couto opened #5 "parseQuery doesn't output booleans"
Assuming something like:

[code]

the call  `loaderUtils.parseQuery(this.query);` will return the string `"true"` instead of the boolean `true`
Not sure if this is the desired effect, but it's kinda troublesome.

[2014-12-15 11:37] #5 closed, assigned to nobody

[2015-03-25 13:44] Swatinem opened #6 "Please update big.js dependency"
They have added a .npmignore in 2.5.2 which avoids pulling in 3.5M worth of test and perf files.

Since npm does not want to dedupe devDependencies, I end with 3.5M * N (number of loader plugins), which gets quite big.

[2015-05-21 21:35] #6 closed

[2015-06-28 23:21] ruifortes opened #13 "stringifyRequest messes up when using symbolic links"
when using symbolic links (in node_modules for instance...) node module system would pick up the "original" path.
This would mess up "stringifyRequest" because different letter can appear and "path.relative" wont work

I fixed this by excluding paths where first character is different

like so:
[code]

[2015-07-13 17:37] ruifortes commented on #13
so? Would be nice to not have to hack this everytime I update...

[2015-08-30 20:56] dtothefp opened #15 "stringify object to pass to loader"
I placed this issue https://github.com/jtangelder/sass-loader/issues/155 on `sass-loader` but maybe it is more appropriate there. I'm trying to figure out how to `stringify` an object to be parsed by `loader-utils`. I tried using `json5` directly with no luck, and tried `encodeURIComponent` on the stringified object but when it is parsed it is a string not an object. Is there some way to accomplis

[2016-01-20 07:28] lili21 opened #18 "weird behavior about urlToRequest"
[code]
ok, I got the idea.

[code]

now i am confused. is it supposed to behavior like this ?

[2016-01-20 09:33] Auxx opened #19 "Absolute paths in Windows are treated as relative paths."
urlToRequest() only checks slash at the beginning of a string to determine if path is absolute or relative. DOS styles paths (c:\path\somewhere) and UNC paths (\\device\path\somewhere) are ignored and treated as relative ones.

[2016-01-20 09:40] Auxx commented on #19
A proposed fix for this behaviour is commited as a [pull request](https://github.com/webpack/loader-utils/pull/20).

[2016-01-22 21:47] danwang opened #21 "Unobtainable values in parseQuery"
Due to the inconsistent usage of `decodeURIComponent`, certain results are unobtainable with `parseQuery`.

For example `{"=": true}` is not possible.

A solution would be to `decodeURIComponent` all names and values so that `my-loader!%3D` can be used at the very least.

[2016-02-16 21:47] sokra commented on #18
Yes, the `root` parameter has only effect when the url starts with `/`.

[2016-03-10 09:19] opatut opened #28 "Specify what to hash"
(Originally posted at webpack/file-loader#60)

I'd like to be able to specify what to mangle through the hash function in order to get the `[hash]`. In my specific case, I want to hash `[path][name]`. I would like to have an additional parameter in the `[hash]` brackets that specifies a pattern (to be interpolated with `interpolateName`) for what to hash.

Rationale: we're building different versi

[2016-04-06 19:02] kmck opened #31 "Update dependencies?"
Hi! I noticed that installing `loader-utils` brings a _lot_ of cruft with it, most of it from the `json5` dependency. That issue was identified and [fixed](https://github.com/aseemk/json5/pull/109), but `loader-utils` is depending on `^0.4.0`. I did a quick check, and it seems like updating `json5` to the latest version (and `big.js` for that matter) doesn't seem to break anything and the tests st

[2016-04-09 13:14] sokra commented on #31
done

[2016-04-09 13:14] #31 closed

[2016-04-09 13:15] sokra commented on #28
see comment in PR

[2016-04-09 13:15] #28 closed

[2016-04-09 13:20] #21 closed

[2016-04-09 13:20] sokra commented on #19
done

[2016-04-09 13:20] #19 closed

[2016-04-09 13:21] #18 closed

[2016-04-09 13:23] kmck commented on #31
thanks!

[2016-04-09 13:24] sokra commented on #15
You cannot stringify a function. You cannot pass a function as query param to loader (no way).

Anyway to correct way (doesn't work in your case, because of functions) would be:

[code]

---

Complex loader config need to be passed over webpack configuration. (cc @jhnns)

[2016-04-09 13:25] #13 closed

[2016-04-10 17:02] jhnns commented on #15
@sokra is right. That's why the sass-loader prefers the config to be set on the webpack config object:

[code]

[2016-04-10 17:08] dtothefp commented on #15
@jhnns yeh this is an old issue. At the time of writing it you hadn't added the config option yet and could only pass options as query params

[2016-04-10 17:10] jhnns commented on #15
Oh ok ^^

[2016-04-11 23:08] akim-mcmath opened #33 "Feature request: getLoaderConfig(loaderContext, ...defaultConfigKeys)"
Currently, `getLoaderConfig()` accepts exactly one default config property name. I think it should accept an arbitrary number, i.e., 0 or more.

See pull request #34

#### Summary

In short, I recommend the following:

- If the user passes 1 default config key, the behavior should remain unchanged (I'm not proposing any breaking changes)
- If the user passes more than 1 default config key, search

[2016-04-12 15:28] paulbarr opened #35 "Can no longer handle % symbol in parseQuery"
I am using the loader-util to optimise less files
I have seen the following defect appear between versions 0.2.13 and 0.2.14
"malformed URL"
This is becasue in this commit "ee056c9f8fcfef913f64b6b879a59b2747d412fb" (from 3 days ago) you have introduced decodeURIComponent
So the line of code below that used to work, now gives the malformed URL issue
`css${mapQ}!autoprefixer${mapQ ? mapQ + '&' : '?'

[2016-04-13 05:39] brianac commented on #35
I am experiencing the same issue with scss and autoprefixer. We're using `css-loader` but it's dependant on this module.
[code]
Getting `URIError: URI malformed` errors. I don't think using `decodeURIComponent` allows for every use case.

[2016-04-14 10:18] szydan commented on #35
This seems to be breaking kibana builds as well
reported here
https://github.com/elastic/kibana/issues/6858
https://github.com/elastic/kibana/issues/6885

[2016-04-24 22:24] #33 closed

[2016-05-04 02:37] p2227 opened #36 "Uncaught TypeError: __webpack_require__(...).filter is not a function"
step1

[code]

step2

[code]

now if you `npm start` it works.
step3

[code]

step4
modify `index.js` and add

[code]

**then it throw error above**

the error code is  https://github.com/webpack/loader-utils/blob/ee056c9f8fcfef913f64b6b879a59b2747d412fb/index.js#L5

[code]

step5
modify `index.js`:

[code]

there is no error again

I think there are some conflicts between `webpack` `loader-utils`

[2016-05-04 03:10] p2227 commented on #36
**finally I solve it by adding `json-loader`**

the conflict is : `emojis-list` exports a json file. there is no problem while it is in node/commonjs environment.
but in webpack , the `require` function is rewrite to `__webpack_require__` . it can't load json file without json-loader

[2016-05-12 14:18] tmoitie opened #38 "Update emoji-list to 2.0.0"
1.0.3 is listed as deprecated now.

[2016-05-12 15:04] sokra commented on #38
yep... do you want to send a PR?

[2016-05-12 18:05] tambling commented on #38
Hi, I noticed it too—addressed in #39.

[2016-06-15 10:48] renarsvilnis opened #40 "Add query token"
### Issue

At work we came across a problem with loading web-fonts. For some browsers, such as `<IE8` there needs to be  a query string in the file url `?#iefix`, otherwise it does not parse the font file 😓 [[source](https://github.com/CSSLint/csslint/wiki/Bulletproof-font-face)].

[code]

[Webpack loader documentation states that there is an `this.resourceQuery` property inside of the loader cont

[2016-07-19 18:59] mycoin opened #41 "Same base name will cause big problems!"
my webpack.config.js looks like:

[code]

If I do not interfere the file name, just like `name=assets/img/[name].[ext]` without hash, It may cause big problems.

[code]

After I built the project, there was only one file named `bg.jpg` in the folder `assets/img/`!

Thx

[2016-07-25 10:10] NeonPaul opened #42 "getRemainingRequest - missleading name?"
As this function returns the loader string that only includes loaders that webpack has already processed, it strikes me that a better name (or an alias) might be something like "getUpstreamRequest".

[2016-08-16 23:11] soluml opened #43 "Custom interpolateName tokens"
**Feature Request:**
Would love the ability to specify my own tokens that tie into a callback of sorts for other webpack loaders.

This is in reference to a Github issue for [css-loader](https://github.com/webpack/css-loader/issues/101).

[2016-09-22 09:01] jizusun opened #44 "how to get part of path in interpolateName"
I've found there is a `regExp` option in `interpolateName`,
but it only applies to `[[name]]`, how can i apply regex match to `[[path]]`?

My concern is, when using `file-loader`, I don't want the exact `path`, but part of it.

Thanks.

[2016-11-17 21:09] soluml commented on #43
Pull request for this feature -> https://github.com/webpack/loader-utils/pull/45

[2016-11-18 03:14] luqingxuan opened #46 "isUrlRequest return true when test 'about:blank'"
in my css file, there is a css rule
body {
background-image: url('about:blank');
}
css-loader call loadUtils.isUrlRequest method,
and this method return true, so css-loader try to read this file ,
but u konw this file does not exits, so if there is a bug exits?

[2016-11-19 03:17] #40 closed

[2016-11-19 05:54] rhys-vdw opened #47 "`parseQuery` array support"
Is there a standard way to represent arrays in a loader query?

[code]

[2016-11-28 13:49] samny opened #48 "Feature request: CRC32 hash support"
I have a specific need to use CRC32 hashes for file-loader to align with our backend implementation. It appears that it's not supported by crypto-js that you use in your `interpolateName` function. Not sure if this is something you would consider implementing (with the crc-hash library on npm) or if I should feature request over at crypto-js?

Maybe there are other ways to solve this? Could the `c

[2016-12-02 07:31] luqingxuan opened #50 "is anyone here, help me?"
no one, no reply...
[https://github.com/webpack/loader-utils/issues/46](https://github.com/webpack/loader-utils/issues/46)

[2016-12-04 14:11] sunderls opened #51 "why [folder] is relative?"
maybe this is a noob question but I'm wondering why [folder] is relative?  what if it just be replaced with directory name?

Thing is I'm using css-loader to generate local classname, which seems to support '[folder]',  well since css & js are in the same directory in my project, `[folder]` is empty.

https://github.com/webpack/loader-utils/blob/master/index.js#L261
[code]

[2016-12-09 04:08] sunderls commented on #51
something needs to be set in context .. sorry for this stupid issue

[2016-12-09 04:08] #51 closed

[2017-01-12 14:34] michael-ciniawsky commented on #46
@luqingxuan Disable 'css-loader` 's url() parsing with

**webpack.config.js (webpack v2)**
[code]

or

[code]

[2017-01-23 15:57] Lukinos opened #53 "customInterpolationName with Webpack2"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When you try to use [customInterpolateName](https://github.com/webpack/loader-utils/blob/master/index.js#L301) with Webpack2, we receive an error because the Webpack2 json template does not allow the property `customInterpolateName`.

[code]

**If the current behavior is a bug, please provide the steps

[2017-01-24 06:36] marcfallows commented on #47
If you postfix the key with `[]` then you get array behaviour:
[code]

[2017-01-24 08:38] rhys-vdw commented on #47
Ah, it's even documented in the README. Thanks for the response.

[2017-01-24 08:38] #47 closed

[2017-02-07 11:32] xutou12 opened #54 "bug in 'stringifyRequest'"
**Current behavior**
request
[code]

loaderContext.context
[code]

output
[code]
`@icon-url ` is changed

**Expected behavior**
[code]

webpack 1.14.0
Node.js 7.4.0
mac os 10.12.3

[2017-02-08 17:09] #50 closed

[2017-02-08 17:27] jhnns opened #56 "Introduce getOptions"
**The deprecation warning is for webpack loader authors, because calling `parseQuery` with a non-string value can have bad side-effects (see below). If you're a webpack user, you can set [`process.traceDeprecation = true`](https://nodejs.org/api/util.html#util_util_deprecate_function_string) in your `webpack.config.js` to find out which loader is causing this deprecation warning. Please file an is

[2017-02-17 07:49] breeswish commented on #53
Workaround:

[code]

[2017-02-18 14:03] #38 closed

[2017-02-20 23:56] blackdynamo commented on #56
Hello, just wondering what I might be doing wrong that's causing this warning. I am trying to follow this issue and understand where things are going and have narrowed down to the following causing the warning vs not.

**Case 1**: Having an options property causes the warning
[code]
[code]

**Case 2**: Removing the options property removes the warning
[code]
[code]

[2017-02-21 03:48] elfey commented on #56
My question is, why force every single user of Webpack to update his config when you can just change the underlying code that processes the config to do this automatically?

[2017-02-21 04:24] artisin commented on #56
I attempted to update to version `1.0`, however, `loaderUtils.getOptions(this)` throws an error at `parseQuery(query)` if said query is an empty String at initial validation: `query.substr(0, 1) !== "?"`. I'm assuming this is not by design since it implies a user must specify an option property in the config regardless of whether a user has options to apply. Although, maybe I'm interpreting this i

[2017-02-21 04:38] artisin opened #67 "Yarn install error"
Not a huge issue, but yarn throws the following error upon install: `loader-utils@1.0.0: The engine "node" is incompatible with this module. Expected version "^4.0.0".` therefore causing the install to fail. I'm more or less pulling this issue to let others know to mitigate this error you must use `yarn install --ignore-flags` until the node version is fixed/updated in the `package.json`.

[2017-02-21 05:50] libeja commented on #56
I am also receiving this warning. I am admittedly new to Webpack and am not sure if this is something that I need to change in my code, or if this is something that will get corrected down the road.

Here is the code that is causing the warning:
[code]
Any advice would be greatly appreciated. Thanks!

[2017-02-21 06:11] shjyh commented on #67
`--ignore-flags` seems not work
yarn version 0.20.3

[2017-02-21 07:10] johnnyreilly commented on #56
Just tried to upgrade ts-loader to use the new version of loader-utils here: https://github.com/TypeStrong/ts-loader/pull/475

I haven't had chance to look into it but there's issues: https://travis-ci.org/TypeStrong/ts-loader/jobs/203704607

[2017-02-21 08:07] johnnyreilly commented on #56
BTW in our test packs we have migrated to use `options` in place of `query` on the understanding that `query` was deprecated and `options` was the new hotness.

[2017-02-21 09:21] LaurensRietveld commented on #67
For me the `--ignore-flags` didn't work when doing a `yarn upgrade` (also v 0.20.3). Instead, I added `--ignore-engines`

[2017-02-21 10:44] jhnns commented on #56
Sorry for the confusion. **This deprecation warning is not for webpack users, but for loader authors.** I've added a paragraph in my [first comment](https://github.com/webpack/loader-utils/issues/56#issue-206266981) to clarify that. Use [`process.traceDeprecation = true`](https://nodejs.org/api/util.html#util_util_deprecate_function_string) in your `webpack.config.js` to find out which loader is c

[2017-02-21 10:49] johnnyreilly commented on #56
Just having a look at the error output; seeing this:

Will your fix resolve that as well?

[2017-02-21 10:54] johnnyreilly commented on #56
Actually I've just had a look at the code in the change and spotted a potential problem: https://github.com/webpack/loader-utils/pull/65/files#diff-55c2772ed44f17a0079fc5dabe37be63R6

Shouldn't the `getOptions` function take into account the `options` value? It actually does this:

[code]

Should it not use `options` if it is passed?  Something like this:

[code]

[2017-02-21 10:57] jhnns commented on #56
Yes

No. `loaderContext.options` are the webpack options from the `webpack.config.js` (bad naming 😞). They will probably be removed someday.

[2017-02-21 12:46] johnnyreilly commented on #56
Awesome.

huh - does that mean when you pass `options` in your `webpack.config.js` that gets turned into `query` on the other side?  Sounds... confusing!

[2017-02-21 14:29] blackdynamo commented on #56
@jhnns Thanks for the clarification on the warning. I will disregard the warning until it disappears :)

[2017-02-21 14:53] swernerx commented on #67
Yep, the issue might be that this in package.json is probably wrong:

[code]

Better use:

[code]

[2017-02-21 14:55] jhnns commented on #56
Just shipped `1.0.1`. Try it out! :)

[2017-02-21 15:38] jhnns commented on #67
@swernerx Thanks for pointing that out. Should be fixed with `1.0.2`

[2017-02-21 15:38] #67 closed

[2017-02-21 15:50] jhnns commented on #54
Shipped with `0.2.17`

[2017-02-21 15:50] #54 closed

[2017-02-21 15:59] johnnyreilly commented on #56
Thanks - just queued a build: https://travis-ci.org/TypeStrong/ts-loader/builds/203855056

[2017-02-21 16:10] jhnns commented on #41
This configuration makes no sense because it produces colliding file names. The loader-utils are working as expected here. Add `path` or a short `hash` to remove the ambiguity.

[2017-02-21 16:10] #41 closed

[2017-02-21 16:13] jhnns commented on #35
Use `encodeURIComponent` or even better `JSON.stringify()` if you're using query strings:

[code]

Starting with webpack 2, you can specify an `options` object which is not stringified anymore.

[2017-02-21 16:13] #35 closed

[2017-02-21 16:15] jhnns commented on #4
I think, this is not relevant anymore because `getRemainingRequest` is not accessing the `context` anymore.

[2017-02-21 16:15] #4 closed

[2017-02-21 16:16] jhnns commented on #15
Starting with webpack 2, you can pass options to loaders without stringifying them.

[2017-02-21 16:16] #15 closed

[2017-02-21 16:17] jhnns commented on #36
The loader-utils are designed to be used in a node.js environment. I cannot think of a situation where you want to include your *loader* in your bundle :)

[2017-02-21 16:17] #36 closed

[2017-02-21 16:23] jhnns commented on #42
Thanks for the feedback.

Reading from the code, it returns the actual remaining requests to process. However, the function is not documented and will probably be removed some day.

[2017-02-21 16:23] #42 closed

[2017-02-21 16:30] jhnns commented on #46
What's the use-case of specifying `about:blank`?

[2017-02-21 16:30] #46 closed

[2017-02-21 16:33] jhnns commented on #56
The build is failing. `getOptions()` may return `null` if no options were specified, see README. I've added that later because the handling was not very consistent before that.

[2017-02-21 16:45] johnnyreilly commented on #56
Thanks @jhnns - when I get a chance I'll check that the code handles `getOptions` returning `null`; I have a feeling it doesn't at present

[2017-02-21 23:51] maxkoryukov opened #69 "getOptions: query VS. options"
Looks, like `getOptions` works only with one **config-source**. Let me explain :wink:

My `webpack.config.js` looks like this (not exactly the same, but similar and it's enough):

[code]

In my `*-loader` am calling `const opt = util.getOptions(this)`

### Expected

I am waiting for:

[code]

### Current result

I have just the `options` part:

[code]

----

I could get the content of the query, b

[2017-02-22 08:12] johnnyreilly commented on #56
Looking good - just merged my PR.

[2017-02-22 16:00] johnnyreilly commented on #56
Not sure if this is related but I've started encountering situations where both of the following are either `null` / `undefined` or their `mtimes` property is:

[code]

I've just started looking at a PR for ts-loader to workaround this:

https://github.com/TypeStrong/ts-loader/pull/481

But I'm kind of surprised it's happened.  I only experienced it when I did a fresh `npm install`.  Is this relat

[2017-02-22 22:03] jgentes commented on #56
Maybe a dumb question, but when I add `process: { traceDeprecation: true }` to my webpack.config file, I get an error: `WebpackOptionsValidationError: Invalid configuration object.`

[2017-02-22 22:06] MatteoGabriele commented on #56
@jgentes just add literally `process.traceDeprecation = true` in your webpack.config.js file.

[2017-02-22 22:24] jgentes commented on #56
Got it, thanks @MatteoGabriele - unfortunately it didn't produce any new information about the source :/

[2017-02-22 22:27] MatteoGabriele commented on #56
@jgentes yeah for me neither! I don't really get this, usually patches are meant to be patches: they fix something,  don't bring strange warnings in the console.
I have no idea on how to solve this one. Probably going back to v2.2.0 for now

[2017-02-23 09:35] johnnyreilly commented on #56
Hey @jhnns,

We released 2.0,1 of ts-loader last night: https://github.com/TypeStrong/ts-loader/releases/tag/v2.0.1

This included ts-loader moving to v1.x of loader-utils.  However, we're still experiencing this message:

Do you know why?  I would expect it to vanish now we're using 1.x...

[2017-02-23 09:36] johnnyreilly commented on #56
Ah... I think this may be down to babel-loader using 0.2.16....

[2017-02-23 11:24] rainjay commented on #56
set `process.noDeprecation = true` , the warning will be removed

[2017-02-24 00:08] mattkime opened #70 "seeing problem with `loader-urls` via `css-loader` since 0.2.17 release"
We're seeing a failure to resolve a module via css-loader since 0.2.17 was released. If we include 0.2.16 as a devDependency then we don't see the problem.

I know I should build a small test case that displays the problem but we have a large webpack build. I'd rather get the word out if others are having problems.

[2017-02-25 03:47] hulkish commented on #56
I think it'd be helpful if this logged warning specified the name of the loader in violation of this spec.

[2017-02-26 03:34] Emiya0306 opened #72 "There is no chunk infos we can use in loaders."
I don't find any string template which let me get chunk name in loaders. In [TemplatedPathPlugin](https://github.com/webpack/webpack/blob/master/lib/TemplatedPathPlugin.js#L70), I can get the chunkName by "[name]", and file name by "[file]".

I expect let the templates the same as webpack's template. It will be more cool and easy to use.
Just like the config below.
[code]

[2017-02-26 16:54] jquense commented on #56
yeah, I have no idea what is throwing this to know if I need to fix something in a loader i've written. right now it's not something I can fix even if I wanted too

[2017-02-27 07:46] donaldpipowitch commented on #56
Keep this:
- Addressable warnings/errors. It's great log an URL to this issue. 👍

While I like good deprecation warnings, I'd change this:
- Please don't use `process.traceDeprecation = true` in the future.This logs to `stderr` and I know this could be confused with actual errors and not warnings. I'd prefer a webpack specific log setting for warnings, so users could opt-in or opt-out for deprecat

[2017-02-28 13:05] jhnns commented on #56
@donaldpipowitch thanks for the feedback, but we are using a [nodejs core module for deprecation](https://nodejs.org/api/util.html#util_util_deprecate_function_string). This way of showing deprecation warnings, also with stack traces by setting `process.traceDeprecation = true`, is not unique to this module. It's how most node modules deprecate things.

We have chosen to use this noisy way of depr

[2017-02-28 13:05] #56 closed

[2017-03-01 02:14] luqingxuan commented on #46
@jhnns
import a jquery plugin, it has csss rule like this.
body {
background-image: url('about:blank');
}

[2017-03-01 14:18] donaldpipowitch commented on #56
@jhnns Yeah, I know this is from a core module, but still... To be honest I haven't seen this _that_ often in several years with Node development, so I'm not sure that this is what _most_ Node developers do. I personally think in log levels first (like a warning) instead of topics (like a deprecation) and because I think deprecations are like any other warning coming from a lib there is always a d

[2017-03-01 14:21] hulkish commented on #56
surely th ere must be a way to log the name of the offending loader here?

[2017-03-01 14:46] pedrommuller commented on #56
hey guys, jus a quick question how do you set up process.traceDeprecation = true in your webpack.config?

[2017-03-01 15:12] MatteoGabriele commented on #56
@pedrommuller you don't, it's a node property. just add that that at the top of your entry point.
like so:

[code]

[2017-03-01 15:27] pedrommuller commented on #56
@MatteoGabriele makes totally sense, thanks!

[2017-03-02 00:13] jhnns commented on #56
@donaldpipowitch

No, I agree with you that this is not very user friendly. I thought that this is the way how you deprecate things in node since it is listed in the documentation and there are special cli flags for it. However, after reading https://github.com/nodejs/node/issues/1883 I'm not so sure anymore if `util.deprecate()` is meant for userland modules. Especially the `(node)` prefix is ver

[2017-03-02 00:18] hulkish commented on #56
@jhnns how about just spit out the query or options used?

[2017-03-03 03:02] settinghead opened #73 "renaming "parseQuery" to "getOptions" without a major version change causes some of its dependent packages to break"
Since the renaming is a breaking change, it has broken some of its dependent packages (For example: https://github.com/sveltejs/svelte-loader/blob/master/index.js#L2)

I think a "gentler" approach would be to either maintain backward compatibility, or update the major version number. Just FYI. :)

[2017-03-06 03:55] zhe-he commented on #56
I met the same problem as blackdynamo ，
`{
				test: /\.js$/,
				exclude:/(node_modules|lib)/,
				use: [
					{
						loader:'babel-loader',
						options: {presets: [["es2015", { "modules": false }]]}
					}
				]
			}`
It is passed when not use options.
As an obsessive-compulsive disorder sufferer,  I hope the author can solve as soon as possible. thanks!

[2017-03-06 10:09] abz123 commented on #56
Same/similar problems as others:

(node:5349) DeprecationWarning: loaderUtils.parseQuery() received a non-string value which can be problematic, see https://github.com/webpack/loader-utils/issues/56
parseQuery() will be replaced with getOptions() in the next major version of loader-utils.
Hash: ab5512b5fb5f788546ea
Version: webpack 2.2.1

[2017-03-07 13:04] jhnns commented on #73
It was [a breaking change](https://github.com/webpack/loader-utils/releases/tag/v1.0.0).

[2017-03-07 13:04] #73 closed

[2017-03-07 13:46] jhnns commented on #69
Yes. That's a known limitation and it was introduced by overloading `this.query`. `this.query` is the `options` object from the `webpack.config.js` or – if no options object was given – the actual query. I think, @sokra decided to overload it because it makes every loader compatible with webpack 2 by default, but it also introduced the problem of multiple loader invocations sharing the same option

[2017-03-07 13:46] #69 closed

[2017-03-07 13:57] sokra commented on #69
`options` is just an alias for `query`. So passing query and options is wrong (there should probably an error in this case, but this is a webpack/webpack issue).

[2017-03-07 14:00] bebraw commented on #69
Yeah, disallowing both `options` and `query` at one (or at least warning) would be nice as otherwise it hides the issue.

[2017-03-07 14:02] jhnns commented on #69
You mean, the `query` property is an alias. But the actual resource query is not an alias. The `options` object from the `webpack.config.js` shadows the actual resource query. With the previous webpack 1 behavior, it was possible to merge the resource query and the options from the `webpack.config,js`.

[2017-03-07 14:22] sokra commented on #69
`loader: "json-string-loader?json1=abc"` sets the loader query not the resource query. You can't set the resource query from configuration.

`loader: "json-string-loader?json1=abc"` is equal to `loader: "json-string-loader", query: "json1=abc"`

[2017-03-07 14:23] sokra commented on #72
No, and this is not possible. Chunks are created after loaders/modules.

[2017-03-07 14:23] #72 closed

[2017-03-07 14:24] jhnns commented on #69
Yes, thanks for clarifying that.

But my previous comment still applies 😁

[2017-03-07 14:30] jhnns commented on #70
This is completely vague. If you can't come up with a small test case, you could:

- give us the loader-utils version (since you're creating an issue in the loader-utils repo)
- give us your configuration for the css-loader pipeline
- give us an error message
- give us the path of the file and the request (the string given to `require()`)

Please understand that I'm closing this one until there is

[2017-03-07 14:30] #70 closed

[2017-03-07 15:35] maxkoryukov commented on #69
does it make sense to add an explicit warning about such behavior to the documentation? To this module or into the [webpack documentation](https://webpack.js.org/)?

About errors, mentioned by @sokra ... :

... it would be very useful, and clear. Throwing such errors will prevent creation tickets like this one:)

[2017-03-07 15:35] maxkoryukov commented on #69
@jhnns thank you for an answer!

[2017-03-07 15:45] jhnns commented on #69
I think, it makes more sense to catch this mistake with the config validation. If we add all possible invalid configurations to the docs, they would be awful long 😁

[2017-03-07 15:48] bebraw commented on #69
Yeah, push everything possible to the tool. It's hard to remember exceptions. Better let the machine do it.

[2017-03-08 00:21] rthummalapally commented on #56
So I'm still running into the same issue.  I've placed process.noDeprecation = true; into my config to no avail.  Is there a fix for this other than that?  I'm new to all this webpack stuff so pardon my ignorance.

[32m07 03 2017 23:18:30.598:INFO [karma]: [39mKarma v0.13.22 server started at http://localhost:9876/
[32m07 03 2017 23:18:30.606:INFO [launcher]: [39mStarting browser Firefox
[32m07 03

[2017-03-08 21:33] MCodyB commented on #56
@jhnns Just FYI, for the Rails noobs `webpack.config.js` will be found in `config/webpack/shared.js`, if they've set included it using the webpack gem that will be included in Rails 5.1.

[2017-03-09 05:30] AlexKvazos opened #75 "Show loader name together with deprecation warning"
Currently deprecation warnings are logged without the name of the loader that caused the issue.

The only way of debugging this is to try each loader one by one to see which one is shooting that warning.

[2017-03-10 10:46] jhnns commented on #75
Put [`process.traceDeprecation = true`](https://nodejs.org/api/util.html#util_util_deprecate_function_string) inside your `webpack.config.js` and node will output a stack trace. Alternatively, you can also start your process with `node --trace-deprecation node_modules/.bin/webpack`

This is node's default way of handling deprecations. The [usability is not good](https://github.com/webpack/loader-u

[2017-03-10 10:46] #75 closed

[2017-03-12 10:27] Pla2aroi commented on #56
(node:47141) DeprecationWarning: loaderUtils.parseQuery() received a non-string value which can be problematic, see https://github.com/webpack/loader-utils/issues/56
parseQuery() will be replaced with getOptions() in the next major version of loader-utils.

Solve my problem

Before

`      {
        test: /\.js?$/,
        exclude: /node_modules|\.git/,
        loader: 'babel-loader',
        opti

[2017-03-13 14:07] jhnns commented on #56
This is not a good workaround. The babel-loader [will soon publish a new version that removes the deprecation warning](https://github.com/babel/babel-loader/pull/391).

[2017-03-13 19:44] anseki opened #76 "[request] Export parseQuery"
Hi, thank you for the useful tool.

So, I understand that the `getOptions` is provided instead of the `getLoaderConfig` and `parseQuery`, in new version.
But I hope that the `parseQuery` is exported by new version also because that is useful for parsing other query strings e.g. `context.resourceQuery`.

loader-utils still has the `parseQuery`, and we can import it by

[code]

Of course I know this

[2017-03-14 10:02] jhnns commented on #76
Agreed. I haven't thought about that. Could you make a pull-request and add a small note to the README?

[2017-03-14 10:50] anseki commented on #76
Thank you @jhnns,
Ok, I try to send PR later.
But my English is poor, and please help me if something wrong.

[2017-03-15 13:47] jagasan commented on #56
hi i am getting error get method undefined
 mounted: function() {
         var self = this;
     self.axios.get('https://jsonplaceholder.typicode.com/users')
            .then(function(response){
              console.log('response'+response);
            }.bind(this));

        },

[2017-03-16 04:40] elfey commented on #56
@jagasan that's completely irrelevant to this issue.

[2017-03-16 18:54] austinhinderer commented on #76
Could you bump the patch version so NPM will pickup this update?

[2017-03-16 20:06] Oblik-Design commented on #56
is  there a suggested fix ? the thread is really confusing.. I get anxious working with warnings !

[2017-03-16 21:47] jhnns commented on #56
Have you read the first post in this thread? What is confusing about it?

[2017-03-16 21:48] #76 closed

[2017-03-16 21:50] hulkish commented on #56
@jhnns i think he just means that we wanna see this warning go away and would like a way to handle it correctly

[2017-03-16 21:51] Oblik-Design commented on #56
you are joking right ? i'm not a dedicated fan to this project, all I aiming for is to not have warnings meat for other... so now, please, I'm pretty sure i'm not the only one in this situation.

[2017-03-16 23:38] jhnns commented on #56
**Are you a webpack loader author?** If yes, replace `parseQuery` with `getOptions` as described in the README

**Are you a webpack user?** Probably yes. Then you need to find out which of your loaders is causing this warning. Copy & paste this line:

[code]

into the first line of your `webpack.config.js` and take a look at the output in the console. You should see in the stack trace which loader

[2017-03-17 05:05] elfey commented on #56
@Oblik-Design this is open source software... and as you would expect; software evolves and deprecates things. This deprecation needed to be public so that loader authors would hear about it.

**And despite this common knowledge, you continue to wine about a harmless deprecation _warning_.**

- Wake up.
- You're not dead.
- Your project isn't dead.
- Everything still works as before.
- If your OCD

[2017-03-17 10:42] Oblik-Design commented on #56
wow, you have read this wrong, english is a third language, must be my fault. no my package does not work properly and adding that process.traceDeprecation = true; did not change a thing.

[2017-03-17 11:59] jhnns commented on #56
@Oblik-Design if you still don't know what to do, you can safely ignore this deprecation warning. It will disappear over time if you keep your packages up-to-date.

[2017-03-17 12:01] jhnns commented on #56
This deprecation warning is for **webpack loader authors**. If you've written your own loader, then please follow the instructions from the first post and the current README.

If you're a **webpack user** who is using another loader, you can set [`process.traceDeprecation = true`](https://nodejs.org/api/util.html#util_util_deprecate_function_string) in your `webpack.config.js` to find out which lo

[2017-03-22 17:17] darrenscerri opened #80 "Empty string is rewritten as './' in urlToRequest"
Related issue: https://github.com/webpack-contrib/css-loader/issues/463

Calling `urlToRequest` with an empty string resolves to `./`. This behaviour should not be allowed, or rather keep as an empty string and let Webpack handle it.

[2017-03-23 10:44] jhnns commented on #80
Mhmm, I think the current behavior is correct. CSS does not distinguish between`url('file.jpg')` and `url(./file.jpg)`. That's why an empty string `''` should be equivalent to `'./'`. Could you describe your use-case? Why do you have an empty `url()` statement—and how is webpack supposed to handle an empty request?

[2017-03-23 10:48] jhnns commented on #80
Ah ok ... this was an error in the first place. What error does webpack report in this case?

[2017-03-23 10:56] darrenscerri commented on #80
Webpack doesn't report any errors but proceeds to trying to require `'./` even if it's a JS file.

The original issue was here: https://github.com/facebookincubator/create-react-app/issues/1875. The `url('')` was a mistake but lead to a very hard-to-find bug.

Webpack currently warns if somebody does a `require('')` (https://github.com/webpack/webpack/issues/2006).

Maybe we should warn if somebod

[2017-03-23 11:08] jhnns commented on #80
Yeah, I totally see that. While transforming `''` to `'./'` is theoretically correct, it is most likely an error.

I thought about throwing an error if an empty url is passed, but that wouldn't be very pleasant to use *and* it would be a breaking change since the call needs to be wrapped in try/catch.

Maybe it's best to just keep it as it is and let webpack handle it correctly (as you suggested).

[2017-03-23 11:27] jhnns commented on #80
@darrenscerri Would you be up to a pull-request? Should be a small change...

[2017-03-23 11:56] darrenscerri commented on #80
@jhnns Added pull-request

[2017-03-27 20:01] #80 closed

[2017-04-02 18:51] BrainB opened #83 "Module build failed: Error: A valid query string passed to parseQuery should begin with '?'"
[code]

How to fix this if there is no other svg loader? There is open issue on git of author for month..

[2017-04-04 01:41] jhnns commented on #83
As a quickfix, you can import the file with a question mark at the end:

[code]

That's not nice, but this should be handled by the loader author...

[2017-04-04 01:41] #83 closed

[2017-05-10 15:17] michael-ciniawsky opened #84 "refactor: `getOptions` should return an `{}` by default"
Currently if no loader options are set, `getOptions(this)` returns `null` by default, which requires a fallback to avoid breaking further `options.x` references within the loader.

[code]

Is that intended for some reason or would it be possible to return an empty `{}`by default instead ?

[2017-05-12 12:32] aappddeevv opened #85 "documentation appears to be incorrect or misleading"
Issue was pilot error. You can delete this.

[2017-05-12 16:14] r01010010 opened #86 "stringifyRequest adds an extra `"` in the final string"
I'm not sure if this is a bug, but having this Webpack configuration:

[code]

When enabling hot reloading with `new webpack.HotModuleReplacementPlugin()` plugin, I start getting this error at runtime:

[code]

This is the code you get at that line:

[code]
Look in your browser for a double `""` and you'll see the problem. I think this is somehow related to `style-loader` as in its code there is t

[2017-06-06 10:18] abdrew opened #87 "parseQuery参数query为空时报错"
需增加判断
if(!query) return {};

[2017-06-18 12:52] akosyakov opened #88 "POSIX absolute paths are treated as relative"
I use `source-map-loader` and it fails to load sourcemaps with absolute POSIX paths. It is turned out that [this function](https://github.com/webpack/loader-utils/blob/master/lib/urlToRequest.js#L6) is invoked at the end and it [cares](https://github.com/webpack/loader-utils/blob/master/lib/urlToRequest.js#L15) only win absolute paths, POSIX are treated as relative.

[2017-06-22 09:25] hi-zhaolei opened #89 "onSuggestionsFetchRequested invalid in 9.3.0"
Upgrade the new version 9.3.0 today. Find out that **onSuggestionsFetchRequested** not work anymore. The **onSuggestionsFetchRequested** don`t implement when input value changed. I have no idea why is this. but roll-back to version 9.1.0. It works again!
ps. I use webpack 3.0.0 just now.

[2017-06-26 03:53] #89 closed

[2017-06-26 03:54] hi-zhaolei commented on #89
sorry report bug at wrong place

[2017-06-26 17:29] ryanve commented on #75
Is `process` meant to be key in the webpack config object or the node built-in `process`?

[2017-06-27 13:28] asmundg opened #90 "Running out of emojis"
The splice at https://github.com/webpack/loader-utils/blob/master/lib/interpolateName.js#L18 causes us to run out of emojis when there are many names being mapped.

The new names then start silently being the empty string, which tends to cause problems down the line.

[2017-06-30 12:03] scholtzm commented on #75
@ryanve I couldn't get the `process` flag to work, had to use the CLI switch at the end.

[2017-06-30 18:30] adamholdenyall opened #92 "Fat arrow (=>) style functions break IE11"
I recently upgraded a site from Angular2 to Angular4 which cascaded eventually to an upgrade of awesome-typescript-loader which pulled in an up-to-date loader-utils.

However, I found that I got a runtime error in loader-utils when running my site in IE11. Diving deeper, it looks like files like parseQuery in this library are full of fat arrow functions, which break IE11.

Is this library intentio

[2017-07-02 03:30] huluwa123 opened #93 "parseQuery should begin with '?'"
use webpack bundle an error
[code]
who can tell me mhy?

[2017-07-06 16:59] northkode commented on #92
This build breaks more then ie 11 it breaks webpack packing as it doesn't know what let or => arrow are..

[2017-07-08 20:37] meyer commented on #86
@r01010010 This issue occurs if you include `HotModuleReplacementPlugin` more than once. If you run `webpack-dev-server` with the `--hot` option, `HotModuleReplacementPlugin` is appended to the plugin list automatically.

[2017-07-08 20:42] meyer commented on #86
Also, `ExtractTextPlugin` should not be used with hot module replacement.

[2017-07-09 23:50] ryanve commented on #75
Thanks @scholtzm

[2017-07-23 08:02] MunGell opened #95 "Feature request: stringify loader object"
Hi there,

I am working on a loader that needs to compile an array of loaders and options into one string.

I've noticed that `vue-loader` authors have implemented similar functionality in their code base: [vue-loader/lib/loader.js](https://github.com/vuejs/vue-loader/blob/0cb6d4d76db6a638bc10184828ed6c463458fe0a/lib/loader.js#L456).

I am wondering if this is something that could be part of `load

[2017-07-25 19:54] smattt commented on #92
We're also impacted by this change as we need to support IE11 for a few customers with strict IT requirements. Bumping for attention. Thanks

[2017-09-11 10:06] Delagen opened #97 "Config Hash digest issue"
I think interpolate function must inherit output hashing settings when compute hash by default, if not overridden manually in query.

[2017-09-15 04:04] 3stacks commented on #92
My builds are fine in production mode (the utils don't appear to be in the bundle), but in dev mode they're there, which makes it very difficult to debug issues in IE11.

[2017-09-26 22:04] bluepeach opened #99 "ERROR in getOptions is not defined"
I've been looking at this most of the day and believe this is turning out to be something with webpack.  I'm hoping this looks familiar with someone.  I'm getting the following error when running a script that invokes webpack:

``

                                  Hash: f1817f83ea7482e48620
Version: webpack 1.15.0
Time: 20910ms
                               Asset     Size  Chunks             Chu

[2017-10-05 13:46] maciej-gurban opened #101 "Make class name compatible with AnguarJS"
Hi, I wanted to introduce CSS Module into an AngularJS project, however the way the loader parses class names won't work with angular's expressions. If file name of the imported CSS file contains a dash, the following configuration of the loader will throw cause Angular to throw the browser:
[code]

It will throw because dashes are not allowed in the ngClass brace expressions in Angular. Would the

[2017-10-12 15:43] maciej-gurban commented on #101
Answering my own question, here's the loader config that satisfies my requirements:
[code]

[2017-10-25 04:01] yvanwangl commented on #93
@huluwa123 我打包的时候也遇到这个错误，最后发现只要给babel-loader配置一下options选项，babel-loader 就会用getOptions()，而不会使用load-utils工具，就不会报错了。

[2017-11-06 22:42] TheLarkInn opened #102 "Make"
Comment from @sokra in another PR

This is likely a great contribution opportunity for anyone interested!

[2017-11-07 00:04] xjlim commented on #102
I'd like to try this.

[2017-11-07 02:00] xjlim commented on #102
@TheLarkInn There are only a finite number of emojis, how would the hash approach work?

[2017-11-09 13:07] xiayuxiaoyan opened #104 "parseQuery bug"
when query is object, there will have a warning like
`/ building for production...(node:6852) DeprecationWarning: loaderUtils.parseQuery() received a non-string value which can be problematic, see https:/
/github.com/webpack/loader-utils/issues/56`

`exports.parseQuery = function parseQuery(query) {
	var specialValues = {
		'null': null,
		'true': true,
		'false': false
	};
	if(!query) return {};

[2017-11-09 19:11] TheLarkInn commented on #102
@xjlim Sorry, it got taken, I'll be sure to ping you on something similar if I find one.

[2017-11-10 03:18] #104 closed

[2017-11-22 13:56] evilebottnawi commented on #99
@bluepeach can you create minimum reproducible test repo?

[2017-11-30 17:49] amerllica opened #107 "Max and Min of hash length"
Actually all of us know `css-loader` use `loader-utils`, inside of `css-loader` configuration some developers load `modules: true` and then load `localIdentName: [hash:base64:X]`.

And `X` is length variable.

I saw many of them, all of them set the `X` variable as 5 and greater than 5. why? why when I use 3, some class names made duplicate?

[2017-12-01 07:45] milushov opened #108 "Strange bug with [emoji] in the Chrome Developer Tools &zwj;"
![dec-01-2017 14-42-12](https://user-images.githubusercontent.com/424326/33472674-ec327a74-d6a5-11e7-961b-a77e264b4f23.gif)

Of course it's not problem of loader-utils, I just shared this with someone

[code]

[2017-12-01 07:52] milushov commented on #107
Because some css classes might have same first 3 letters of hash, like:

.foo => **ABC**XY...
.bar => **ABC**NM...

[2017-12-01 08:34] amerllica commented on #107
Thanks @milushov , I calculate the possibility of conditions, it is so simple, `base64` can has 64 characters:
[a-z][A-z][0-9][-,_] so with 3 we can has `64 x 64 x 64` conditions, it means `262144` class names!!

So why it can not generate unique names? with 3 there are many collision class names conflicts.

[2017-12-01 09:04] milushov commented on #107
@amerllica, because it's hash of class name, not a random string every time; you can check it by yourself -- just change value to 5 and you'll see same beginning of the hash

[2017-12-02 06:15] amerllica commented on #107
@milushov , Thanks a lot dude, I spend all of my Friday on this problem, I wrote a sexy random function that generate all these possibilities. Just like you said `hash` is a different thing to something like my function.

[2017-12-02 06:15] #107 closed

[2017-12-12 13:24] jbasrai commented on #108
I noticed the same thing. I like emojis as cleaner hashes in development, but this makes them less desirable.

[2017-12-17 09:32] ishitatsuyuki commented on #95
I second this. Would you like to create a PR?

[2018-01-25 23:34] ReneBaams commented on #99
I have this issue also suddenly on my hosted build server. Locally it builds and runs ok. Even branches that build before arn't building anymore. Is there a solution for this?

[2018-01-26 10:01] evilebottnawi commented on #99
@ReneBaams how can i reproduce problem?

[2018-02-04 09:50] 2vsl commented on #99
@ReneBaams  W7 + dotNET 4.5 and nothing else

[2018-02-12 21:12] veebz commented on #92
This is most likely not an issue with loader-utils.  Webpack loader source code is not included in the chunk that is emitted.  Only the results of the evaluated loader function are included.  You can test this yourself by adding a loader such as file-loader to a bare bones project and watch how the output changes.

This is probably an issue with the configuration of a specific loader.  When using

[2018-02-27 16:07] totorean opened #109 "-deprecation webpack"

[2018-03-02 16:50] cornerman opened #110 "New release"
There are a lot of new commits but the last release was a while ago. Can we please have a new release? I am specifically depending on this fix: https://github.com/webpack/loader-utils/pull/79.

[2018-03-05 05:44] jscinoz commented on #92
This issue can occur with the [common pattern](https://webpack.js.org/guides/shimming/) of using `imports-loader` to polyfill globals - `imports-loader` pulls in `loader-utils` which contains an arrow function in `getCurrentRequest`, causing a syntax error in IE11, as third-party code is generally not transpiled in most projects.

[2018-04-03 07:56] nloui opened #111 "Create React App Compatibility"
Trying to "yarn build" an app from create-react-app and it's complaining about loader-utils:

[code]
Curious if anyone else has bumped into this?

[2018-04-30 12:10] evilebottnawi opened #112 "Support `[contenthash]`"
Based on https://github.com/webpack-contrib/file-loader/issues/267

[2018-05-29 16:39] evilebottnawi opened #114 "Use `md4` instead `md5` for perf reason"
`webpack@4` already use `md4` where it is possible.

[2018-06-20 06:34] shouvik44 commented on #111
I'm getting this error too, and all my loaders are in devDependencies. The Create-React-App team says, if code fails to minimize, to [check if the dependency compiled into ES5](http://bit.ly/2tRViJ9) before publishing to npm. Is this something loader-utils can do?

[2018-06-20 06:36] arvindkumarc commented on #111
I faced with this issue and the only thing I did is to move things to devDependencies. Now the build is good.

[2018-06-20 22:21] #84 closed

[2018-06-25 21:13] reposandermets commented on #111
Problem exists for me too. Tried eject moved everything under devDependencies, but still getting the same error.

[code]

[2018-06-26 07:10] jantimon opened #115 "stringifyRequest - wrong relative path"
**Source:**
a  [failed unit test of the html-webpack-plugin webpack 4 branch](https://travis-ci.org/jantimon/html-webpack-plugin/jobs/396732146)

**Error:**
Module not found: Error: Can't resolve '../../home/travis/build/jantimon/html-webpack-plugin/node_modules/lodash/lodash.js' in '/home/travis/build/jantimon/html-webpack-plugin/spec/fixtures':

**Description:**
stringifyRequest does always tran

[2018-06-26 18:43] reposandermets commented on #111
I'm following [aws-mobile-react-sample](https://github.com/aws-samples/aws-mobile-react-sample) and seems that problem is actually related to lines in index.js

[code]

Commenting those lines out makes build work fine.

[2018-07-03 06:37] jantimon commented on #115
I also added a unit test for the webpack-recompilation-simulator which fails for that case: https://travis-ci.org/jantimon/webpack-recompilation-simulator/builds/399443099?utm_source=github_status&utm_medium=notification

[2018-07-04 09:18] jantimon commented on #115
It seems like webpack requires the absolute path:

Unfortunately the loader-runner does not allow to modify the context:
https://github.com/webpack/loader-runner/blob/0d41655430a52af88e6a423c6d8df5c22d413e81/lib/LoaderRunner.js#L250-L253

So this is not possible anymore with webpack 4.

Thanks for all the hints @sokra 👍👍

[2018-07-04 09:18] #115 closed

[2018-07-24 12:52] albertfdp commented on #112
Are there any plans to fix this? Seems it breaks pretty badly if you use SRI https://github.com/NMFR/optimize-css-assets-webpack-plugin/issues/56

[2018-07-24 12:52] evilebottnawi commented on #112
@albertfdp feel free to send PR

[2018-09-03 17:38] rightaway commented on #112
Any contributor with knowledge of how to fix this issue and might be willing to take a look at it?

[2018-09-28 14:44] evilebottnawi commented on #112
@rightaway We have many issues and PRs in many repos and don't have enough time for all, we are happy with any help

[2018-10-02 15:32] edmorley commented on #112
From what I can tell it seems the `contentHash` hook is what this would need to use:
https://github.com/webpack/webpack/blob/1495b33102e2197792c5e2558e216c47ffac32fb/lib/Compilation.js#L318-L319
https://github.com/webpack/webpack/blob/1495b33102e2197792c5e2558e216c47ffac32fb/lib/Compilation.js#L2275

Presumably the implementation would need to be something similar to what `JavascriptModulesPlugin(

[2018-10-02 15:41] evilebottnawi commented on #112
@edmorley for loader-utils `contenthash` === `hash`

[2018-10-02 15:46] edmorley commented on #112
I don't really understand how to relate that to my comment? Could you explain more?

Also, several of the "add contenthash support" threads that were linked to this one, were actually for plugins rather than loaders. Is this package meant to be designed for plugins as well as loaders (ie the name isn't meant to be literal), or will they need a different implementation in another shared package?

[2018-10-02 15:48] evilebottnawi commented on #112
@edmorley [contenthash] has same implementation as `hash` for plugins and loaders

[2018-10-09 08:11] ljqx commented on #114
Hi, @evilebottnawi , I've sent out a PR for this, could you help review?

[2018-10-09 08:48] evilebottnawi commented on #114
@ljqx yep, PR welcome

[2018-10-26 13:14] subzey opened #118 "getHashDigest result first character distribution is not uniform"
The string returned from `getHashDigest()` has 0% probabililty of having `0` as the first char.

Other chars from the start of the alphabet: `1`, `2`, ... has a much higher chance to be a first char.

Here's the distribution of the first chars after 10000 trials with random strings ("base64" is used):

character | count
--------- | -----
0 | 0
1 | 25477
2 | 25578
3 | 25132
4 | 420
5 | 389
6 | 382

[2018-12-03 23:37] npetruzzelli opened #119 "Undocumented Methods"
`getCurrentRequest` and `getRemainingRequest` are not documented in the README file.

Are these:

1.  internal implementations that should not be relied upon?
2.  intentionally exposed utilities that are lacking documentation?

If these, and other methods, are option 2, then can placeholder headers be added to the README to indicate to readers that it is safe to use them and that documentation may

[2018-12-21 11:31] aarefiev opened #121 "Feature: add compiler output options support for hash"
Hi!

It will be cool if loader will support output options of webpack, especially options for hash like as `hashDigestLength`. It is very useful if I should have the same length for all files after compilation. But now, I should set the same setting for all loaders that using **loader-utils** for processing files in core.

According to my opinion I should stay here proof based on webpack documenta

[2018-12-21 12:23] evilebottnawi commented on #111
Update your deps, looks some loader doesn't have `laoder-utils` in dependencies

[2018-12-21 12:23] #111 closed

[2018-12-21 12:33] evilebottnawi commented on #110
WIP

[2018-12-21 12:34] evilebottnawi commented on #108
Sorry for delay problem still exists?

[2018-12-21 12:35] evilebottnawi commented on #101
Not related to `loader-utils`, if you still have problems please create issue in `css-loader`

[2018-12-21 12:35] #101 closed

[2018-12-21 12:36] evilebottnawi commented on #97
Close in favor https://github.com/webpack/loader-utils/issues/121, feel free to feedback

[2018-12-21 12:36] #97 closed

[2018-12-21 12:36] evilebottnawi commented on #95
PR welcome

[2018-12-21 12:37] evilebottnawi commented on #93
/cc @huluwa123 problem still exists? IF yes, can you provide example usage and what you actually want and what you expected

[2018-12-21 12:39] evilebottnawi commented on #92
You don't need build `loader-utils` for browser, but if you really want this, please use `babel` to avoid problem with compatobility

[2018-12-21 12:39] #92 closed

[2018-12-21 12:39] evilebottnawi commented on #90
@asmundg problem still exists? Can you provide example usage?

[2018-12-21 12:40] #85 closed

[2018-12-21 12:41] evilebottnawi commented on #86
@r01010010 @meyer problem still exists?

[2018-12-21 12:42] evilebottnawi commented on #48
@samny sorry for big delay, can you describe use case?

[2018-12-21 12:42] evilebottnawi commented on #44
@jizusun can you show use case?

[2018-12-21 12:43] evilebottnawi commented on #43
Fixed in `css-loader`. Feel free to feedback

[2018-12-21 12:43] #43 closed

[2018-12-21 21:08] meyer commented on #86
The cause of this issue was a configuration issue (specifying `HotModuleReplacementPlugin` in addition to using the `--hot` command line option). I’d say this issue is ok to close, if that’s what you’re looking to do. @r01010010, any update?

[2018-12-21 21:08] meyer commented on #86
@evilebottnawi The cause of this issue was a configuration issue (specifying `HotModuleReplacementPlugin` in addition to using the `--hot` command line option). I’d say this issue is ok to close, if that’s what you’re looking to do.

@r01010010, any update?

[2018-12-24 09:41] evilebottnawi commented on #90
@asmundg Can you have idea how we can fix it or create example how i can reproduce problem?

[2018-12-24 10:37] #112 closed

[2018-12-25 03:04] Alphadelta14 opened #133 "1.2.0 breaks url(#divId)"
Ran into an issue where fresh upgrade to 1.2.0 started breaking webpack builds of less where we were using an svg fill snippet like
[code]

The error showed up like
[code]

Pinning to 1.1.0 fixed this issue.

My initial guess is that it is trying to load ./index#gradient as an image or something.

[2018-12-25 03:48] yibn2008 commented on #133
+1, a lot of apps broke in my company due to this upgrade, please fixed it

[2018-12-25 07:33] vladimiry commented on #133
Also such error
[code]
See details here https://github.com/ProtonMail/WebClient/issues/130

[2018-12-25 08:06] youluna commented on #133
We use it as follows:
[code]

https://travis-ci.com/alibaba-fusion/next/builds/95698744#L876

[2018-12-25 10:44] evilebottnawi commented on #133
Regressions, will be fixed in near future

[2018-12-25 10:56] evilebottnawi commented on #133
WIP

[2018-12-25 12:15] evilebottnawi commented on #133
@youluna can't reproducible you problem, we always ignore all what starts with `//` (in previous and in this version)

[2018-12-25 12:55] huston007 commented on #133
Also affected `html-loader` so we've got errors like that `Module not found: Error: Can't resolve './{{icon}}' in '../node_modules/@jetbrains/ring-ui/components/error-message-ng'`

[2018-12-25 12:56] evilebottnawi commented on #133
@hulkish @huston007 yep, this fix it problem, update your deps and feel free to feedback

[2018-12-26 21:41] techjoshua opened #136 "`interpolateName`: Hash regex incorrectly mingles other values into the hash value"
https://github.com/webpack/loader-utils/blob/489ef12a900c9f40c32eb0dceeed1eaab55fcc89/lib/interpolateName.js#L94

Regex fails for values like: `[name].[md5:hash:base64:20].[ext]`...
`getHashDigest()` is called with a `hashType = 'name].[md5'`

I suggest changing the regex to exclude closing brackets, like:
[code]

[2018-12-27 08:09] webschik commented on #136
Another test case with CSS Module names:

**v1.1.x version:**
[code]

**v1.2.x version:**
[code]

[2018-12-27 10:07] #136 closed

[2018-12-27 10:30] evilebottnawi commented on #136
Fixed in https://github.com/webpack/loader-utils/releases/tag/v1.2.2

[2018-12-29 14:55] asmundg commented on #90
@evilebottnawi I'm not sure I understand the scope of your question.

The number of unique names that can be generated by the encodeStringToEmoji hash function is bounded by the number of emoji available (2048 IIRC).

You can produce the error by calling encodeStringToEmoji repeatedly:
[code]
Somewhat surprisingly, increasing the length argument reduces the namespace _faster_, because emoji are re

[2019-01-07 08:01] ljqx commented on #95
Now the config `loaders` is moved to `use`, maybe the name should be sth like `stringifyUseEntries`, and assume the param to be [UseEntry[]](https://webpack.js.org/configuration/module/#useentry)?

[2019-01-09 09:18] evilebottnawi commented on #95
@ljqx we can discuss about name in a PR, feel free to send a PR

[2019-01-29 17:37] subzey commented on #118
TL;DR: [Slice the string](https://github.com/webpack/loader-utils/blob/master/lib/getHashDigest.js#L61-L62) from its tail, not from its head.

----

The long version:

There are two reasons for this.

Each byte of the hash has uniform distribution (the hashing algo is cryptographically strong), but when converted to number and then string, leading zeroes are ignored.

Imagine there's a hash of len

[2019-02-15 10:44] devoto13 opened #142 "Remove emoji interpolation"
I would like to deprecate and drop [`[emoji]` interpolation](https://github.com/webpack/loader-utils#interpolatename) together with `emojis-list` library from the dependencies. I understand emojis are so fun and all that, but forcing whole ecosystem to pull couple of KB of emojis to power the feature, which only a handful of people uses does not feel very professional.

It should be done as a sepa

[2019-02-15 10:52] evilebottnawi commented on #142
@devoto13 couple of KB? You don't need include loader-utils in your production bundle, also it is break a lot of app, so it can be done

[2019-02-15 10:59] devoto13 commented on #142
No, sure it is not in bundle, in `node_modules`. But I don't see why `npm install` has to install half of the internet on my computer.

Well, that's why I say *deprecate and drop*, so it will take at least two major versions and people will have time to migrate.

I don't see why ability to interpolate emojis should be part of the core functionality of Webpack. Extension, file name, content hash, e

[2019-02-15 11:01] evilebottnawi commented on #142
@devoto13 it is often used for `interpolation` css classes

[2019-02-15 11:12] devoto13 commented on #142
I see, just found information on this [interesting practice](https://twitter.com/addyosmani/status/702976873467408386). So then can it be a dependency of `css-loader`?

I don't have any CSS in the project and `ts-loader` doesn't seem to need emojis.

[2019-02-15 11:30] evilebottnawi commented on #142
@devoto13 what is problem with emoji? Don't use their

[2019-02-15 11:40] devoto13 commented on #142
The problem is not emojis per se. The problem is bloated `node_modules` most of which is not used by the project. The goal is to remove non-essential dependency, so projects, which don't use it don't have to download it.

[2019-02-15 11:58] evilebottnawi commented on #142
@devoto13 use pnp feature to avoid unnecessary install, `emoji` take up very little space compared to any other library

[2019-02-15 12:04] devoto13 commented on #142
I'm not sure what is *pnp* feature you refer to.

There are hundreds of maintainers, which said the same thing about another *tiny* library. And all these small libraries depending on other small libraries, they add up resulting in bloated `node_modules` we have now. Isn't it better to keep the house clean at the first place?

[2019-02-15 12:06] evilebottnawi commented on #142
@devoto13 not in this cases, as i said above some developers use emoji for interpolation in css and not all, so it should be part of this lib and can't be removed in near future

[2019-02-15 12:22] devoto13 commented on #142
The key is *some* here. AFAIK majority of Angular community don't do this, create-react-app does not seem to do it either. Aren't these two the biggest consumers of Webpack? This leaves us with the minority of developers, who do their Webpack build manually and only some unknown part of them using emojis for CSS. I do struggle to find much information about this on Google either, which leads me to

[2019-03-07 10:55] evilebottnawi opened #143 "[bug] interpolateName for N-th matching is not platform agnostic"
We should use `normalize-path` module for `resourcePath` https://github.com/webpack/loader-utils/blob/master/lib/interpolateName.js#L110 to avoid this problem. It is breaking change so it should be done for major release.

[2019-08-12 16:37] Maorey opened #149 "[emoji] should not used on @keyframes"
Name parameter `[folder]__[name]_[local][emoji]`:

[code]
Result:

[code]

Animation does not work unless you remove `\1F3D3`

[2019-08-12 16:51] evilebottnawi commented on #149
don't use `[emoji]`, because it is invalid and can't be used in this case, also it is just module and this module not related to css

[2019-08-13 19:52] #142 closed

[2019-08-14 10:38] evilebottnawi commented on #142
@devoto13 we move loader api in webpack for webpack@5 and emoji will be removed, so don't worry we solve this in near future

[2019-09-03 19:48] vankop opened #151 "Typescript definitions"
**Feature request**

Regarding to https://github.com/webpack/schema-utils/issues/49 it will be great to support TypeScript definitions here as well. It will be useful for `ts-loader` and `awesome-typescript-loader`, how it handled currently:
https://github.com/s-panferov/awesome-typescript-loader/blob/master/src/index.ts#L10
https://github.com/TypeStrong/ts-loader/blob/master/src/typings/loaderUti

[2019-09-04 10:13] evilebottnawi commented on #151
We want to move this stuff inside webpack, so i think no need do this right now here

[2019-09-04 10:21] #151 closed

[2019-09-18 07:43] eugene-manuilov opened #153 "interpolateName in a plugin"
Hello,

could you please advice me how to properly use `interpolateName` in a plugin? I am working on a plugin that should emit supplementary files based on the source code of a chunk and i can't figure out how to properly compose a name for my files using placeholders like `[name]`, `[hash]`, etc. What do i need to pass into `loaderContext` and `options` params and where can i take it?

Thanks in

[2019-09-23 10:51] evilebottnawi commented on #153
https://github.com/webpack-contrib/copy-webpack-plugin/blob/master/src/postProcessPattern.js#L120

[2019-09-23 10:51] #153 closed

[2019-11-18 07:32] jens-duttke opened #156 "Prevent blocked words in generated hash"
The most Adblockers block resources if they contain specific words in the file name.

While creating hashes for file names, this should be considered to make sure, resulting files don't get blocked, because of their filename.

Some examples of blocked patterns from the popular EasyList filter list:
[code]

For the above patterns, we can deduce that atleast `/(ad|\d{2,}[x_-]\d{2,})/i` should be avo

[2020-01-30 13:37] ShiiRochi opened #160 "Cannot find module '../lib/unicode'"
Today I have to work on my PC (running Window) and I cannot start react app because of an error printed below.

It says that it cannot find '../lib/unicode', error move to that package.

[code]

This line `var _unicode=require('../lib/unicode')` from utils throws error.

[2020-01-30 13:38] evilebottnawi commented on #160
Please create reproducible test repo

[2020-01-30 13:40] ShiiRochi commented on #160
This is a commercial project, I cannot publish it)) Also it will take time to create repo, where that problem could be reproducible.

[2020-01-30 13:42] evilebottnawi commented on #160
I can't help without reproducible steps or repo, just think how I can help with this if I can’t understand how to get an error :smile:

[2020-01-30 13:47] ShiiRochi commented on #160
I understand that. Just for now I have information that it tries to require('../lib/unicode'), however either in that package, nor in html-webpack-plugin, that can be also seen in logs, anything that could be called like 'unicode' does not exist in any lib folder. Maybe it is Windows' super feature.

[2020-01-30 13:57] evilebottnawi commented on #160
Maybe you accidentally remove something from node_modules, can you reinstall?

[2020-01-30 14:00] ShiiRochi commented on #160
No, I just pulled locally all changes from repo and ran `yarn install`. After three cycles of remove node_modules and new install, nothing changed. I made a fresh clone. The same thing.

[2020-01-30 14:01] evilebottnawi commented on #160
Can you provide yarn version?

[2020-01-30 14:12] ShiiRochi commented on #160
Sorry, I watched an error again. It's a problem with `json5` package inside html-webpack-plugin. I tried to downgrade it to `3.2.0` and got the same error, but in react-dev-utils with `json5` also. And really, in json5 in lib folder I have unicode.js, but in node_modules inside html-webpack-plugin I do not see it.

[2020-01-30 14:27] evilebottnawi commented on #160
Please create reproducible test repo, maybe bug in `html-webpack-plugin`

[2020-01-30 15:09] ShiiRochi commented on #160
I went through the problem by creating fresh ejected react-app. I combined fresh package.json with my current one. Removed `node_modules` in repo folder and moved `node_modules` from fresh ejected app folder to repo folder.

After running `yarn install` and scripts update in `scripts` folder according to fresh ejected app scripts. I got a working app.

I still don't understand what was that...so,

[2020-01-30 15:09] #160 closed

[2020-02-14 12:02] Powell-v2 opened #161 "Why query strings are removed when interpolating the name?"
Hi,

I'd like to know why `interpolateName` helper removes query strings from file paths? Is this intentional?

Thanks in advance for the explanation.

[2020-02-14 12:08] evilebottnawi commented on #161
Answer was in file-loader repo, it is not removed by `interpolateName` (https://github.com/webpack/loader-utils/blob/master/test/interpolateName.test.js#L77), it is internal behavior in webpack

[2020-02-14 12:08] #161 closed

[2020-02-19 17:02] evilebottnawi commented on #99
Closing due to inactivity.

[2020-02-19 17:02] #99 closed

[2020-02-19 17:03] evilebottnawi commented on #88
Closing due to inactivity.

[2020-02-19 17:03] #88 closed

[2020-03-17 11:29] #114 closed

[2020-03-22 00:20] jahed commented on #121
Has there been any progress on this? Anything needed? It would be nice to support `hashDigestLength` for consistency when using loaders like `file-loader`. I noticed the PR (#120) has been left open.

[2020-03-23 04:08] t3-aoki opened #169 "Please release v1.4.1 to fix a vulnerability"
There are a lot of loaders which still use `loader-utils v1.x`.

Please release https://github.com/webpack/loader-utils/commit/c78786d5b540dea5e50d741557c72f2523976ef3 as v1.4.1 to fix a vulnerability.

[2020-03-23 09:44] evilebottnawi commented on #121
Should be solved on webpack side

[2020-03-25 11:03] rightaway commented on #121
@evilebottnawi I'm using latest webpack 4.42.1 and it's still using its own hash length. Is the fix only in 5.x branch?

[2020-03-25 11:11] evilebottnawi commented on #121
No, it is won't fix, we can't calculate hash of build on loader side

[2020-03-25 11:14] rightaway commented on #121
@evilebottnawi I can create an issue there, should it be in https://github.com/webpack/webpack repository?

[2020-03-25 11:30] evilebottnawi commented on #121
@rightaway it is won't fix, no need issues, you can use `output: 'dist/[hash]'` if you need unique directory on build

[2020-03-25 16:50] jahed commented on #121
@evilebottnawi I'm using `[contenthash]` for my project outputs so it would be nice if `loader-utils` supported `output.hashDigestLength` for that like Webpack's outputs do.

[2020-08-19 22:13] aguynamedben opened #172 "How to get path of"
Hi, thanks for this great library. It's making writing a custom Webpack loader a lot easier.

I'm working on an Electron project that has 2-3 processes. I want to write a webpack loader called "forbidden-paths-loader" that prevents imports between combinations of paths/directories. The API will look like this...

[code]

I realize the loader context gives me [`this.resourcePath`](https://webpack.j

[2020-08-20 10:39] evilebottnawi commented on #172
Sorry, it is helpers for loaders, issuerPath is not part of this package

[2020-08-20 13:43] cdoublev opened #173 "[feature-request] Parsing a number in query"
Hello,

I would like to sugget parsing a `Number` in the value of a query parameter used to set options of a loader.

[code]

https://github.com/webpack/loader-utils/blob/d9f4e23cf411d8556f8bac2d3bf05a6e0103b568/lib/parseQuery.js#L39

Is there a reason to parse a `Boolean` but not a `Number`? Performances?

Eg. `css-loader?importLoaders=true` works but not `css-loader?importLoaders=1`.

Note that

[2020-08-20 13:45] evilebottnawi commented on #173
Sorry, this utils only for compatibility with webpack@4, for webpack@5 it was deprecated, because `getOptions` built-in webpack@5, so we don't accept features

[2020-08-20 13:46] #173 closed

[2020-08-20 13:46] evilebottnawi commented on #173
Anyway this we should solve on css-loader side

[2020-08-20 13:47] evilebottnawi commented on #173
Using `parseInt`, feel free to open an issue

[2020-08-20 13:51] cdoublev commented on #173
Don't you think it's related to `schema-utils`?

https://github.com/webpack-contrib/css-loader/blob/835335361cd012f7db114d0c648e4f364050181c/src/index.js#L34

[2020-08-20 15:34] evilebottnawi commented on #173
@cdoublev we should allow `importLoaders` to be `string` and use `parseInt` to get value

[2020-08-20 15:59] TroyTae opened #174 "RFC: add uglify token to interpolateName"
### Summary

moved from https://github.com/webpack-contrib/file-loader/issues/380
How about add uglify token to `interpolateName`?
If we use ugly name in production, we can get lighter bundle file.

### Syntax

- `[ugly-name:<uglyType>]`
  - uglyType => `word`, `file`, `css`, etc... (default: word)

Reference: https://github.com/TroyTae/uglify-set

[2020-08-24 09:21] evilebottnawi commented on #174
Send a PR

[2020-09-09 13:14] #174 closed

[2020-10-21 14:03] evilebottnawi commented on #169
Sorry, no, you need to update `loader-utils`, v1 is deprecated and even create a problem, please open an issues in repos which still uses old version

[2020-10-21 14:03] #169 closed

[2020-10-21 14:05] evilebottnawi commented on #149
Also we will remove `[emoji]` due many problems (already in next branch) and rare usage, avoid using it

[2020-10-21 14:05] #149 closed

[2020-10-21 14:08] evilebottnawi commented on #108
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

Also we will remove `emoji` placeholder in the next release, avoid using `emoji` placeholder

[2020-10-21 14:08] #108 closed

[2020-10-21 14:39] Maorey commented on #149
It's works when append something, like `[folder]__[name]_[local][emoji]$`

[2021-03-23 09:28] duanlikang opened #179 "@types/loader-utils conflicts with webpack's built-in types"
Hello，I am not sure if i can give feedback here.
### Background Information
When I develop a plugin that uses `loader-utils`，and the project is base typescript.
The Dependencies:
[code]
### Question
I have some error when I build the project.
[code]

### Possible Reason
I find the `@types/loader-utils` depends `@types/webpack`.It conflicts with webpack's built-in types.Now, i have to add `skipLibC

[2021-03-23 11:03] alexander-akait commented on #179
`loader-utils` is deprecated you should not use it, in near future we migrate all loaders and plugins from this and write notes how to migration, don't use it and use webpack types

[2021-03-23 11:32] duanlikang commented on #179
Thanks for your reply. I got it.
Look forward the future.

[2021-05-03 23:21] NullVoxPopuli commented on #179
putting this in package.json is a good enough work around for me now:
[code]

[2021-10-20 13:17] #119 closed

[2021-10-20 14:04] #179 closed

[2021-10-20 14:05] alexander-akait commented on #48
I think we don't need this, anyway feel free to feedback

[2021-11-10 00:25] alexpovh opened #199 "v2.0.2 release has breaking changes"
[edited]
v2.0.2 fixes the base64 logic to output a correct base64 hash, but the correct base64 hash contains invalid css characters `+/=` and this can break unsanitized calls to `document.querySelector` function.

The dependency is webpack@4 -> css-loader@5 -> loader-utils@2

[2021-11-10 00:28] alexander-akait commented on #199
Because we have wrong `base64` output, also `loader-utils@2` is deprecated, please show your problem

[2021-11-10 00:28] alexander-akait commented on #199
Changing hash is not breaking change, it is fix

[2021-11-10 00:44] alexpovh commented on #199
I agree it's a fix, but one of our projects had an issue where developers depend on the css-loader standard base64 hash function and used the generated css class names directly to call `document.querySelector` function but after v2.0.2 this stopped working because `document.querySelector` doesn't like some of the proper base64 characters. I'm not sure how widespread this issue is, just wanted to s

[2021-11-10 00:45] alexander-akait commented on #199
Please provide example

[2021-11-10 01:17] alexpovh commented on #199
Here is an example of code that breaks with 2.0.2 fix:

app.jsx
[code]

Styles.module.scss
[code]

partial webpack config:
[code]

The above throws the following error when loaded in the browser:
[code]

[2021-11-10 01:18] alexander-akait commented on #199
It was answered a lot of time, you need escape selector before passing it in JS, there are a lot of other cases when you have it

[2021-11-10 01:19] alexander-akait commented on #199
Using `CSS.escape`, event more, you have potential XSS

[2021-11-10 01:23] alexpovh commented on #199
oh, I understand that it needs to be escaped and that's the fix we already applied, if you don't think there is a need to worry about the cases when it's not properly escaped please feel free to close this issue.

[2021-11-10 01:26] alexander-akait commented on #199
Maybe we should docs it in `css-loader`, feel free to send a PR to `css-loader` docs, let's close here

[2021-11-10 01:26] #199 closed

[2021-11-11 15:37] #118 closed

[2021-11-11 15:39] alexander-akait commented on #44
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2021-11-11 15:39] #44 closed

[2021-12-08 09:29] jiakaiqiang opened #201 "loaderUtils.getOptions is not a function"
I try to use the latest version of loader uitls to write a loader, but GETOPTION () is not a function. In addition, getloaderconfig () also shows that it is not a function. Try switching to version 1.2.3 to get it. How to solve the problem of the latest version? You can use this project **https://github.com/zyqq/make-loade**r Modify the version of loader uitls to the latest version，thank you

[2021-12-09 10:14] alexander-akait commented on #201
It is breaking change, you need webpack v5 to use `this.getOptions`, `getOptions` was removed, if you need webpack v4 support please use v2

[2021-12-09 10:14] #201 closed

[2022-01-25 19:16] peter-spireng opened #203 "Prettier show all files with error because of default"
Clone repository and run "yarn test" - prettier will show error in files because of end of lines. There is no prettier config, so it expect "lf" on end of line (from version 2.0.0 - https://prettier.io/docs/en/options.html#end-of-line) but currenty there is "crlf" in files.
I can prepare PR but what is right option: add .prettierrc with "crlf" end of line configuration value or change end of line

[2022-01-26 10:34] alexander-akait commented on #203
We use `lf`, I think something wrong with `.gitattributes`

[2022-01-26 20:06] peter-spireng commented on #203
I dont see any .gitattributes file in loader-utils repo ... probably we should add  it

[2022-01-27 10:34] alexander-akait commented on #203
Yes, we should add, feel free to send a PR

[2022-01-31 18:29] hawenger opened #205 "Missing getOptions.js in lib ?"
Related to [TypeError: this.getOptions is not a function](https://github.com/TypeStrong/ts-loader/issues/595)

[2022-01-31 18:31] alexander-akait commented on #205
`geOptions` was removed https://github.com/webpack/loader-utils/releases/tag/v3.0.0

[2022-02-03 11:56] #203 closed

[2022-02-25 22:04] andrralv commented on #205
@alexander-akait can we get a test/example on how to migrate getOptions to the new syntax?

[2022-02-26 12:07] alexander-akait commented on #205
`this.getOptions`, `this` is loaderContext inside loader function

[2022-03-21 22:35] romainmenke opened #208 "CVE-2021-44906"
https://github.com/advisories/GHSA-xvch-5gv4-984h

[code]

This was fixed in version 2 of `json5` :

https://github.com/json5/json5

But not in version 1.

[2022-03-21 22:37] alexander-akait commented on #208
Please open an issue in `minimist` and ask them to update `json5`

[2022-03-21 22:38] romainmenke commented on #208
Sure, but issues have been opened there and `json5` has been updated.
Just letting you know something.

[2022-03-21 22:41] romainmenke commented on #208
Could also be resolved by `babel-loader` : https://github.com/babel/babel-loader/issues/937

[2022-03-22 06:24] romainmenke commented on #208
Resolved by `babel-loader`

[2022-03-22 06:24] #208 closed

[2022-10-05 05:12] Supraja9726 opened #211 "[CVE-2022-37599]/ReDos found in interpolateName.js"
A Regular expression denial of service (ReDoS) flaw was found in Function interpolateName in interpolateName.js in webpack loader-utils 2.0.0 via the resourcePath variable in interpolateName.js.

The prototype pollution vulnerability can be mitigated with several best practices described here: https://learn.snyk.io/lessons/prototype-pollution/javascript/

[2022-10-05 19:20] Supraja9726 opened #212 "[CVE-2022-37601]/Prototype pollution found in parseQuery.js"
Prototype pollution vulnerability in function parseQuery in parseQuery.js in webpack loader-utils 2.0.0 via the name variable in parseQuery.js.

The prototype pollution vulnerability can be mitigated with several best practices described here: https://learn.snyk.io/lessons/prototype-pollution/javascript/

[2022-10-05 19:29] Supraja9726 opened #213 "[CVE-2022-37603]/ReDoS found in interpolateName.js"
A Regular expression denial of service (ReDoS) flaw was found in Function interpolateName in interpolateName.js in webpack loader-utils 2.0.0 via the url variable in interpolateName.js.
The prototype pollution vulnerability can be mitigated with several best practices described here: https://learn.snyk.io/lessons/prototype-pollution/javascript/

[2022-10-06 12:26] alexander-akait commented on #213
Please migrate to `3` version, `2` version is deprecated and doesn't supported, thank you

[2022-10-06 12:26] #213 closed

[2022-10-06 12:27] #212 closed

[2022-10-06 12:27] alexander-akait commented on #211
Please migrate to `3` version, `2` version is deprecated and doesn't supported, thank you

[2022-10-10 08:21] nalbion commented on #211
@Supraja9726 There is no information regarding CVE-2022-37599 on any of the usual sites. Does migrating to version 3 resolve the issue? Can this vulnerability be ignored by projects?

  https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-37599

[2022-10-11 14:41] apatel0708 opened #214 "CVE-2022-37599 - security vulnerability across all loader-utils"

[2022-10-11 14:44] alexander-akait commented on #214
Please update to v3, v2 is deprecated

[2022-10-11 14:44] #214 closed

[2022-10-11 14:50] apatel0708 commented on #214
3.2.0 is the version being used.

[2022-10-11 14:51] alexander-akait commented on #214
Can you provide message output from npm/yarn/etc?

[2022-10-11 14:59] apatel0708 commented on #214
npm verb stack Error: 403 -------------------->>> REQUESTED ITEM IS QUARANTINED -------------------->>> FOR DETAILS SEE ------>>> <NEXUS_IQ>/ui/links/repositories/quarantinedComponent/YmZlYzg1Mzg0ZTYyNDk0MGEzZjUyZjllOTE4NmM1NDk <<<------ - GET <NEXUS_URL>/npm-group/loader-utils/-/loader-utils-3.2.0.tgz

[2022-10-11 15:00] apatel0708 commented on #214
CVE-2022-37599
Issue
[CVE-2022-37599](http://web.nvd.nist.gov/view/vuln/detail?vulnId=CVE-2022-37599)
Severity
Sonatype CVSS 37.5
CVE CVSS 2.00.0
Weakness
Sonatype CWE[1333](https://cwe.mitre.org/data/definitions/1333.html)
Source
National Vulnerability Database
Categories
Data
Description from CVE
loader-utils - REDOS

Explanation
This issue has undergone the Sonatype Fast-Track process. For more

[2022-10-11 15:27] alexander-akait commented on #214
Please run `npm ls loader-utils`

[2022-10-11 15:47] apatel0708 commented on #214
+-- @angular-devkit/build-angular@12.1.4
| +-- @jsdevtools/coverage-istanbul-loader@3.0.5
| | `-- loader-utils@2.0.2
| +-- babel-loader@8.2.2
| | `-- loader-utils@1.4.0
| +-- css-loader@5.2.6
| | `-- loader-utils@2.0.2
| +-- loader-utils@2.0.0
| +-- mini-css-extract-plugin@1.6.2
| | `-- loader-utils@2.0.2
| +-- raw-loader@4.0.2
| | `-- loader-utils@2.0.2
| +-- resolve-url-loader@4.0.0
| | +-- adju

[2022-10-11 15:47] apatel0708 commented on #214
+-- @angular-devkit/build-angular@12.1.4
| +-- @jsdevtools/coverage-istanbul-loader@3.0.5
| | `-- loader-utils@2.0.2
| +-- babel-loader@8.2.2
| | `-- loader-utils@1.4.0
| +-- css-loader@5.2.6
| | `-- loader-utils@2.0.2
| +-- loader-utils@2.0.0
| +-- mini-css-extract-plugin@1.6.2
| | `-- loader-utils@2.0.2
| +-- raw-loader@4.0.2
| | `-- loader-utils@2.0.2
| +-- resolve-url-loader@4.0.0
| | +-- adju

[2022-10-11 15:48] apatel0708 commented on #214
``+-- @angular-devkit/build-angular@12.1.4
| +-- @jsdevtools/coverage-istanbul-loader@3.0.5
| | `-- loader-utils@2.0.2
| +-- babel-loader@8.2.2
| | `-- loader-utils@1.4.0
| +-- css-loader@5.2.6
| | `-- loader-utils@2.0.2
| +-- loader-utils@2.0.0
| +-- mini-css-extract-plugin@1.6.2
| | `-- loader-utils@2.0.2
| +-- raw-loader@4.0.2
| | `-- loader-utils@2.0.2
| +-- resolve-url-loader@4.0.0
| | +-- ad

[2022-10-11 16:43] alexander-akait commented on #214
As you can see you still use `v2.0.0`, also new version of `css-loader`/`mini-css-extract-plugin`/`style-loader` and etc doesn't `loader-utils`

It is not safe

Also I can't get ability to see `CVE-2022-37599`, I don't see any report and information. Looks like you use personal tool for security. I can't fix something without information

[2022-10-12 14:43] wrslatz commented on #214
https://nvd.nist.gov/vuln/detail/CVE-2022-37599 is a public link to the finding, though it to be void of any useful information unfortunately 😞

[2022-10-12 16:21] alexander-akait commented on #214
@wrslatz yeah, we need example how to reproduce it, because I can't undestand there is the problem

[2022-10-12 16:22] alexander-akait commented on #214
If somebody have any infromation feel free to send a PR with fix, I will glad to review

[2022-10-13 13:46] lebbe commented on #214
I get a warning for loader-utils@3.2.0 as well from Sonatype iq server. But the security vulnerabilities it mentions in the description, is regarding to version 2.0.0:

`Prototype pollution vulnerability in function parseQuery`

(parseQuery doesn't exist in 3.2.0, so this is weird indeed!)

So there must be some fault in the systems reporting security issues. So for everyone coming here after inve

[2022-10-13 14:08] alexander-akait commented on #214
I think so, because I can't find any related information about this

[2022-10-13 15:41] kieransquare opened #215 "Known regex vuln"
Just thought I'd inform this project that it has a known regex vuln out against it now.

https://nvd.nist.gov/vuln/detail/CVE-2022-37599

[2022-10-13 16:56] alexander-akait commented on #215
PR welcome

[2022-10-13 16:58] alexander-akait commented on #215
And I don't see any problems with https://github.com/webpack/loader-utils/blob/d9f4e23cf411d8556f8bac2d3bf05a6e0103b568/lib/interpolateName.js#L83

And https://github.com/webpack/loader-utils/issues/211

[2022-10-14 04:41] bholloway commented on #211
From what I can see `loader.getOptions()` was removed in version `3` and the loader `this. getOptions()` was introduced `webpack@5` meaning there is no solution here for `webpack@4` and earlier.

I accept that updating to version `3` is not much of an ask but updating older projects to `webpack@5` is a stretch. Is there some other workaround?

[2022-10-14 13:11] Yogu commented on #211
This issue is linked in an npm advisory for version 3.2.0 of this library. This occurs on a clean new angular project.

I'm a bit confused - this issue here is closed and only talks about version 2. Is version 3.2.0 affected, too? Will there be a fix for it? Or is the advisory wrong?

[2022-10-14 13:19] alexander-akait commented on #211
Maybe this https://github.com/webpack/loader-utils/issues/215 too

[2022-10-16 15:59] kundarsowjanya opened #216 "Security Vulnerabilities issue"
Hi,
I'm not using loader-utils directly in my package.json, but may be it has transitive dependency, and currently I'm using react-script v5,
but now I'm getting  Security Vulnerabilities issue as

A Regular expression denial of service (ReDoS) flaw was found in Function interpolateName in interpolateName.js in webpack loader-utils 2.0.0 via the resourcePath variable in interpolateName.js

and als

[2022-10-18 02:50] Donhv commented on #216
i see webpack have no plan to update loader-utils version. they still use v2.

[2022-10-18 03:08] kundarsowjanya commented on #216
Hi, even after using v3 still getting same error

A Regular expression denial of service (ReDoS) flaw was found in Function interpolateName in interpolateName.js in webpack loader-utils 3.0.0 via the resourcePath variable in interpolateName.js

[2022-10-18 08:48] jenilG commented on #216
We are also facing the same issue with 3.0.2

[2022-10-18 13:41] alexander-akait commented on #216
I can't reproduce it using v3:
[code]

[2022-10-18 13:49] alexander-akait commented on #216
And also I think there is a problem with a security tool, becaue I can't reproduce ReDos using https://github.com/webpack/loader-utils/blob/master/lib/interpolateName.js#L51

[2022-10-18 14:27] alexander-akait commented on #216
So if somebody have an exaple of this exploit - PR welcome or write me on `sheo13666q @ gmail.com`, I am glad to fix them, but can't find a way how it is possible (that is why I think there is a problem with security tools)

[2022-10-19 22:45] mdlkumaran commented on #216
Facing same issue

npm audit
(node:12536) Warning: Setting the NODE_TLS_REJECT_UNAUTHORIZED environment variable to '0' makes TLS connections and HTTPS requests insecure by disabling
certificate verification.
(Use `node --trace-warnings ...` to show where the warning was created)
# npm audit report

loader-utils  ≤ 3.2.0
Severity: high
A Regular expression denial of service (ReDoS) flaw was found

[2022-10-19 23:08] alexander-akait commented on #216
Please avoid duplicate, because it doesn't help, thank you

[2022-10-20 03:43] v-pasha2 commented on #216
is there any solution for this i am seeing this for version 3.0.2 as well ?

[2022-10-20 12:14] angularDevEng commented on #216
any news?

[2022-10-20 19:28] JSMike commented on #216
[From the error report](https://nvd.nist.gov/vuln/detail/CVE-2022-37601) I'm assuming the issue is here:
https://github.com/webpack/loader-utils/blob/v2.0.2/lib/parseQuery.js#L29

And all of the following `result[name]` assignments. I'd assume that's a false positive because you're creating `const result = {};` but this report seems to want it to be `const result = Object.create(null);` when you m

[2022-10-20 19:36] alexander-akait commented on #216
@JSMike Thank for `CVE-2022-37601`, I will fix it, but the original issue about security problem in `interpolateName.js` and line is wrong

[2022-10-20 19:52] JSMike commented on #216
@alexander-akait ah ok, sorry, I just assumed it was the same issue, I'll move my comments over to #212

[2022-10-20 19:52] JSMike commented on #212
[From the error report](https://nvd.nist.gov/vuln/detail/CVE-2022-37601) The issue is here:
https://github.com/webpack/loader-utils/blob/v2.0.2/lib/parseQuery.js#L29

Because of the following `result[name]` assignments. This report seems to want `const result = {};` to be `const result = Object.create(null);` if you're going to manipulate an object the way you are to avoid a prototype pollution ex

[2022-10-20 20:01] alexander-akait commented on #212
@JSMike Thank you, published https://github.com/webpack/loader-utils/releases/tag/v2.0.3

[2022-10-21 19:41] getroyer commented on #215
I'm interested in finding a way to resolve this regex vulnerability as well. If anyone knows how it should be resolved please let me know.

[2022-10-28 08:37] Reckit075 commented on #212
@JSMike Is this issue resolved in the new version or I have to overwrite pareQuery.js ?

[2022-10-30 06:41] pratheeshp007 commented on #216
@alexander-akait Is ReDoS possible on this line
https://github.com/webpack/loader-utils/blob/master/lib/interpolateName.js#L93

What if the line number was wrong in the report ?

[2022-11-01 18:27] LucasLopesr commented on #213
same problem in version 3.2.0

[2022-11-01 18:33] LucasLopesr commented on #216
is it a false positive?

[2022-11-01 22:52] alexander-akait commented on #216
Sounds like yes, I tried to connect with administrators of security database, but no luck - no example of usage, no PoC and etc, the only found security problem was fixed in `v2` here https://github.com/webpack/loader-utils/releases/tag/v2.0.3 (look at commits and you find where it was)

[2022-11-03 14:24] jeran-urban commented on #215
The main issues around Regex DOS attacks is in badly formed queries that are not strict enough, and no exit condition involving a time limit for processing. If you ensure that the query is perfectly formed or at least add an exit condition based on a time limit (a few seconds) then this should resolve the issue. More information here: https://www.regular-expressions.info/redos.html#Handling%20Rege

[2022-11-03 14:27] jeran-urban commented on #211
The main issues around Regex DOS attacks is in badly formed queries that are not strict enough, and no exit condition involving a time limit for processing. If you ensure that the query is perfectly formed or at least add an exit condition based on a time limit (a few seconds) then this should resolve the issue. More information here: https://www.regular-expressions.info/redos.html#Handling%20Rege

[2022-11-03 16:13] jeran-urban commented on #216
Hello, left comments on other Issues, this Issue Looks Open, so here is the information for fixing both of the vulnerabilities shown in the OSS index:

# The Vulnerabiliies:
- [CVE-2022-37603] A Regular expression denial of service (ReDoS) flaw was found in Function interpolateName in interpolateName.js in webpack loader-utils 2.0.0 via the url variable in interpolateName.js.
- [CVE-2022-37599] CW

[2022-11-03 16:29] jeran-urban commented on #216
Please let me know if I can be of help here, my own app would benefit from the updates as well for security issues that I am currently handling

[2022-11-04 15:41] alexander-akait commented on #216
@jeran-urban Feel free to send a PR with fixes

[2022-11-06 04:32] w3bdesign commented on #212
@JSMike

Tried to fix this with Dependabot and I get this, so it looks like it is fixed:

[2022-11-06 18:36] G-Rath commented on #212
@w3bdesign if Dependabot is still showing the vulnerability as open in your codebase but giving that message, then its because you've got multiple versions of `loader-utils` in the dependency tree, some of which are vulnerable but currently [dependabot only sees the "first" one](https://github.com/dependabot/dependabot-core/issues/4701).

@alexander-akait I'm sorry I have to ask, but any chance of

[2022-11-07 04:48] ashkulz commented on #212
@alexander-akait this also affects us, the dependency tree is
[code]
There's no branch for 1.x else I'd have submitted a PR :sweat_smile: Hopefully the upstream issue vuejs/vue-cli#7323 is actioned soon :crossed_fingers:

[2022-11-07 13:49] daniluk4000 opened #218 "Fix vulnerability in v1 of loader-utils"
We did discuss this in PMs but I'll also create corresponding issue, @alexander-akait.

## Motivation
1. v1 version of this library is still used in many libraries and people who didn't yet migrate to Webpack 5
2. v1 has almost 20 millions of weekly downloads
3. The fix is single-line and easy to implement

## Request
Please create branch v1.0.0 with latest commit ([1.4.0](https://github.com/webpa

[2022-11-07 20:43] alexander-akait commented on #218
Fixed and released https://github.com/webpack/loader-utils/releases/tag/v1.4.1

[2022-11-07 20:43] #218 closed

[2022-11-08 03:32] ashkulz commented on #212
Thanks for the quick release of 1.4.1, @alexander-akait :tada:

[2022-11-08 09:54] Ginxo commented on #213
@JSMike @alexander-akait
what about this PR https://github.com/webpack/loader-utils/pull/217 where v2 is also fixed? Thanks

[2022-11-08 19:30] nukeop commented on #218
Whats the attack vector here? How can this be exploited?

[2022-11-09 15:02] danielhaim1 commented on #212
🎉

[2022-11-09 15:38] TomasHofman commented on #213
PR https://github.com/webpack/loader-utils/pull/217 doesn't fix this vulnerability. It's for [CVE-2022-37601](https://nvd.nist.gov/vuln/detail/CVE-2022-37601).

[2022-11-10 22:45] jmprentice commented on #216
Have you evaluated this line as the possible culprit? https://github.com/webpack/loader-utils/blob/52cd134fc94721f62c9c882651aad24f33e6d6a8/lib/interpolateName.js#L79

I ran the Regex on that line through an [online ReDoS checker](https://devina.io/redos-checker) and it came out vulnerable.

I believe this can be fixed by changing the Regex to `/\[(?:([^\[:\]]+):)?(?:hash|contenthash)(?::([a-z]+\d

[2022-11-10 22:48] alexander-akait commented on #216
@jmprentice Thank you, feel free to send a PR

[2022-11-10 22:50] alexander-akait commented on #215
Close in favor https://github.com/webpack/loader-utils/issues/216

[2022-11-10 22:50] #215 closed

[2022-11-10 22:52] alexander-akait commented on #216
But not sure about https://github.com/advisories/GHSA-hhq3-ff78-jv3g

[2022-11-10 22:55] alexander-akait commented on #216
Even more https://github.com/webpack/loader-utils/issues/211 is refering on https://github.com/webpack/loader-utils/issues/211, but https://github.com/webpack/loader-utils/issues/211 about another problem and it was fixed https://github.com/webpack/loader-utils/pull/217 and backported

[2022-11-10 23:28] jmprentice commented on #216
My contributions are being rejected by EasyCLA, but you can see the change in the PR and should feel free to use it if it works.

[2022-11-11 00:19] alexander-akait commented on #216
WIP, thank you anyway

[2022-11-11 06:48] abhisheknigam87 commented on #216
I can still find this warning with v3.2.1:
[CVE-2022-37603] A Regular expression denial of service (ReDoS) flaw was found in Function interpolateName in interpolateName.js in webpack loader-utils 2.0.0 via the url variable in interpolateName.js.

[2022-11-13 15:40] alexander-akait commented on #216
@abhisheknigam87 I think it is mistabe, becaise we fixed it :confused:

[2022-11-13 17:54] jeran-urban commented on #216
Sorry for not getting back sooner and thank you for getting to this so quickly. So, if I understand this correctly, here is some information:

- The CVE-2022-37603 finding has been resolved in version 3.2.1 (backported fixes available for versions 2.0.4 and 1.4.2 THANK YOU FOR THOSE!!!!)
  - OSSIndex shows the resultant fix: (old version 3.2.0 shows vulnerability): https://ossindex.sonatype.org/co

[2022-11-14 16:19] jeran-urban commented on #216
so I believe changing line 83

from this:
`directory = resourcePath.replace(/\\/g, '/').replace(/\.\.(\/)?/g, '_$1');`

to this:
`directory = resourcePath.replaceAll(/\\/g, '/').replaceAll(/\.\.(\/)?/g, '_$1');`

should fix the issue:
Ex of difference between replace and replace all and how the call to the Regex constructor behind the scenes on replace can be dangerous: https://developer.mozilla.o

[2022-11-14 19:57] carnil commented on #211
https://github.com/webpack/loader-utils/pull/225 fixes this issue as well for the 2.0.x version?

[2022-11-14 19:58] carnil commented on #213
https://github.com/webpack/loader-utils/pull/225 fixes as well this issue for the 2.0.x version?

[2022-11-15 00:48] alexander-akait commented on #213
Yes, backported to all versions (except `0.x`)

[2022-11-15 00:48] alexander-akait commented on #211
Yes, backported to all versions (except `0.x`)

[2022-11-15 03:47] jeran-urban commented on #216
to update the thread, on PR #227, the PR has been closed given the following information:

from looking at the various tickets, issues, and vulnerabilities, there are 3 vulnerabilities that have been discussed:
* [CVE-2022-37601] - an older critical issue that was addressed in 2.0.3 and backported to 1.4.1 as well (addressed directly by https://github.com/webpack/loader-utils/pull/217)
* [CVE-2022

[2022-11-15 05:07] jeran-urban commented on #216
updates with fixes posted to github advisory via PRs listed above, once accepted, those should show the recommended resolution on npm audit commands from now on

[2022-11-15 06:24] carnil commented on #213
Thanks for the confirmation!

[2022-11-15 17:51] jeran-urban commented on #216
Snyk has updated their documentation for affected versions, closed the tickets, and is now reporting no vulnerabilities for versions 1.4.2, 2.0.4, and 3.2.1!

[2022-11-15 18:49] sjorsverhoef commented on #216
Nice work!

[2022-11-16 15:31] LucasLopesr commented on #216
nice work guys!

[2022-11-16 15:59] jeran-urban commented on #216
the github advisory entries have been updated and now `npm audit` will show the relevant errors, and there is an auto fix available that `npm audit fix` will resolve

[2022-11-17 09:29] chkpnt opened #228 "contenthash vs hash?"
What's the difference between contenthash and hash? The description in the README.md is the same.

[2022-11-17 13:50] alexander-akait commented on #228
They are the same in loader context (i.e. for any filename options for loader), please use `contenthash`, to be align with webpack logic

[2022-11-17 13:50] #228 closed

[2022-11-17 14:53] jeran-urban commented on #216
NIST's NVD is showing as fixed for https://nvd.nist.gov/vuln/detail/CVE-2022-37601 and https://nvd.nist.gov/vuln/detail/CVE-2022-37603, still working on https://nvd.nist.gov/vuln/detail/CVE-2022-37599.

[2022-11-17 18:23] jeran-urban commented on #216
https://nvd.nist.gov/vuln/detail/CVE-2022-37599 has now been updated as well.

With these updates, Sonatype's SSO INDEX, NIST's NVD, NPM Github Advisory, and Snyk's Reports have all been updated and all known vulnerabilities have been handled and backported for all major versions. I think this issue should be good to consider closed. I still have pending CVEs to be updated, but those normally take

[2022-11-17 18:28] jeran-urban commented on #216
as an aside, @alexander-akait, I left a comment regarding the regex in https://github.com/webpack/loader-utils/pull/227, may be able to simplify or refactor the regex to target differently for the replace functionality

[2022-11-17 20:58] jdgregson commented on #212
Is there a working PoC for this issue? This same pattern of `dest[foo] = src[foo]` has been marked as prototype pollution on [many](https://github.com/thlorenz/browserify-shim/issues/245#issuecomment-1279264857) [different](https://github.com/beautify-web/js-beautify/issues/2106#issuecomment-1287276067) [repositories](https://github.com/remy/nodemon/issues/2068#issuecomment-1275914612) recently. H

[2022-11-18 19:40] esther0012 commented on #213
How do I change the version?

[2022-11-18 19:41] esther0012 commented on #213
How can I change the version?

[2022-11-20 04:25] heatherleeann opened #229 "Does this don't need translation? `\[`"
Does this don't need translation? `\[`

_Originally posted by @yoyo837 in https://github.com/webpack/loader-utils/pull/224#discussion_r1019955322_

[2022-11-20 04:25] #229 closed, assigned to nobody

[2022-11-20 12:22] alexander-akait commented on #213
Just update transitive deps - `rm -rf package-lock.json && rm -rf node_modules && npm i`

[2022-11-28 21:25] JosephNewman26 opened #232 "is 2.0.4 in the NPM registry?"
npx: installed 6 in 9.643s
npm ERR! code ETARGET
npm ERR! notarget No matching version found for loader-utils@2.0.4.
npm ERR! notarget In most cases you or one of your dependencies are requesting
npm ERR! notarget a package version that doesn't exist.

I keep getting no target matching the 2.0.4 version of loader utils. Is it in the npm registry yet?

Thank you.

[2022-11-28 21:46] alexander-akait commented on #232
Yes, please look at https://www.npmjs.com/package/loader-utils?activeTab=versions

[2022-11-28 21:46] #216 closed

[2022-11-28 23:08] JosephNewman26 commented on #232
When I click on 2.0.4 i get an error as seen in the image below.
![image](https://user-images.githubusercontent.com/113563372/204399516-24a16f75-8e3c-4200-9645-2acc00e4a53f.png)

Can you please be more specific.

[2022-11-28 23:10] alexander-akait commented on #232
Sounds like bug on `npm` side, we can't fix it here

[2022-11-28 23:14] JosephNewman26 commented on #232
Okay, got it. Thank you.

[2022-11-28 23:14] #232 closed

[2022-11-30 19:02] theJuan1112 commented on #212
I also agree that this is most likely a false positive. I went into a little more details on a [comment](https://github.com/webpack/loader-utils/pull/217#issuecomment-1332523089)t in the "fix" they did for this. The only thing I can come up that could lead to security issues is how the object created will be handled, but that is up to the apps/packages using this as a dependency to figure it out i

[2022-11-30 19:32] alexander-akait commented on #212
A minimally reproducible example should be provided, firstly internally to fix the problem, then publicly

[2022-11-30 19:42] theJuan1112 commented on #212
I actually just watched the presentation for the [research paper](https://dl.acm.org/doi/pdf/10.1145/3488932.3497769) on this and the presenter specially noted that their tool/analyzer does NOT take into account context, which that is the MAIN point of doing proper security research/disclosure. This is just so bad/annoying because you are getting reports of a CRITICAL in your apps, especially for